<%-include("./inc/head.ejs")%>
<%-include("./inc/nav.ejs")%>

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb breadcrumb-about" data-bg-image="https://images.unsplash.com/photo-1632854270121-0b0d4f33c99a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h1 class="breadcrumb_title">Haqqımızda</h1>
                        <p class="breadcrumb_text">Biz Anbaras Mebel Daima Sizin Yanınızdayıq</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Section Start -->
    <div style="padding-top: 0; padding-bottom: 0;" class="section-padding-03 overflow-hidden">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title-10 justify-content-start text-start align-items-start">
                        <span class="section-title-10__subtitle">Arzu Edilən Mebellər ilə</span>
                        <h1 class="section-title-10__title">Anbaras Mebel Sizin Yanınızda</h1>
                        <p class="section-title-10__text">Biz Müxtəlif Material Və Dizaynda Hazır Mebellər Hazırlayırıq. Ən Dəbli Dizayn Və Yeniliklərə Sahib Mebellərimiz İlə Sizin Qarşınızdayıq.</p>
                        <p class="section-title-10__text">Xəyalınızda Arzu Etdiyiniz Bir Dizayn Varsa Biz Aizin Xəyalınızı Reallaşdırırıq. Sifariş Bölməsinə Xəyalınızdakı Mebeli Təsvir Edin Bizdə Gerçəkləşdirək.</p>
                        <img src="assets/images/singnecher-2.png" alt="Signature-Image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="aboutus-image">
                        <img src="https://images.unsplash.com/photo-1616593871468-2a9452218369?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80" alt="About-Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Call to Action Section Strat -->
    <div class="call-to-action callto-action-04" data-bg-image="https://images.unsplash.com/photo-1615529182904-14819c35db37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80">
        <div class="container">

            <div class="row align-items-center gy-8 gx-0">
                <div class="col-12">

                    <!-- Call to Action box Start -->
                    <div class="call-to-action-more text-center position-relative popup-video" id="popup-video">

                        <a class="call-to-action-more__arrow text-white lh-1 video-popup" href="https://www.youtube.com/embed/VQOJaYUPZR8?si=4WSqep6i-OD-pVR3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="none" viewbox="0 0 20 24">
                                <path fill="currentColor" d="M.417.5v23L19.583 12 .417.5z"></path>
                            </svg>
                        </a>

                        <div class="position-absolute top-50 start-50 translate-middle">
                            <svg class="circular-text-svg" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                                <path id="circlePath" d="M100,100 m-75,0 a75,75 0 1,0 150,0 a75,75 0 1,0 -150,0" fill="none"/>
                                <text class="circular-text" fill="white" font-size="16" font-family="Arial">
                                  <textPath xlink:href="#circlePath">Daha Ətraflı Daha Ətraflı Daha Ətraflı Daha Ətraflı Daha Ətraflı</textPath>
                                </text>
                              </svg>
                        </div>

                    </div>
                    <!-- Call to Action box End -->

                </div>
            </div>

        </div>
    </div>
    <!-- Call to Action Section End -->


    <!-- Scroll Top Start -->
    <a href="#/" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->
<%-include("./inc/footer.ejs")%>

<%-include("./inc/script.ejs")%>

</body>

</html>
